.main-cont{
    padding: 0px 80px !important;
    width: 100% !important;
    /* height: 100vh; */
}
.categories{
    font-size: 17px;
    color: #3E4159;
}
/* .side{
    height: 100vh; */
    /* background-color: red;

} */