.footer{
    position: absolute !important;
    bottom: 6% !important;
}
.footer h6{
    color:  #585858;
    font-size: 13px;
    width: 80%;
    margin-bottom: 20px;
}
.store{
    width: 80% !important;
}
.store img{
    width: 100px;
    margin-right: 15px;
    /* fill: #585858 !important; */
}